body {
    background-color: #8b66e9;
    font-family: 'Open Sans', sans-serif;
}

.card {
    background-color: white;
    min-height: 200px;
    display: flex;
    width: 60%;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    padding: 65px;
    top:10%;
    border-radius: 20px;
    bottom: 10%;
}

.illustration-woman {
    position: relative;
    margin-left: -10%;
    width: 100%;
    left: -103px;
    top: 30%;
}

.illustration-box {
    position: relative;
    margin-left: -45%;
    top: -25%;
}

.bg-photo {
    position: relative;
    max-width: fit-content;
}
.photo-side {
    width: 50%;
}

.faq-side {
    width: 50%;
}

h1 {
    font-weight: bold;
    padding-bottom: 10px;
}

.arrow {
    position: relative;
    left:90%;
    top:-4%;
}