body {
    background-color: #8b66e9;
    font-family: 'Open Sans', sans-serif;
}

.card {
    background-color: white;
    min-height: 200px;
    display: flex;
    width: 60%;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    padding: 25px;
    top:0%;
    border-radius: 20px;
    bottom: 0%;
    max-height: 55%;
}

.photo-side {
    width: 50%;
}

.background-illustration {
    position: relative;
    margin-top: -100%;
    margin-left: -201%;
}

.woman-illustration {
    position: absolute;
    margin-left: -30%;
    width: 55%;
    margin-top: -1%;
}

.box-illustration {
    margin-top: 15%;
    position: absolute;
    margin-left:-32%
}

.faq-side {
    width: 50%;
    margin: auto;
}

h1 {
    font-weight: bold;
    padding-bottom: 50px;
    font-size: 30px;
}

h2 {
    text-decoration: underline;
}

.arrow {
    position: relative;
    left:90%;
    top:-4%;
}

p {
    display: none;
}
