
.bg{
    position: relative;
    display: inline-block;
    
    
}

.mulher{
    position: absolute;
    display: inline-block;
    left: 16%;
    top:20%;
}

.box{
    position: absolute;
    display: inline-block;
    left: 15%;
    top: 35%
   
}

h1{
    text-transform: uppercase;
    font-weight: bold;
    
}

ul{
    display: inline-block;
    margin-left: 40%;
    width: 40%;
    position: relative;
    margin-top: 10%;
    vertical-align: ;
}


ul, box {
    display: inline-block;
}